In [11]:

#1.REVERSE LIST
l=[10,20,30,40]
print(l[::-1])

[40, 30, 20, 10]

In [12]:
#Add even number  in list
evenlist=[]
oddlist=[]

n=int(input("enter the number"))
for i in range (1,n):
    if i%2==0:
        evenlist.append(i)
    else:
        oddlist.append(i)
print("evenlist: ", evenlist)
print("oddlist: ", oddlist)

enter the number10
evenlist:  [2, 4, 6, 8]
oddlist:  [1, 3, 5, 7, 9]

In [21]:
#Find out duplicate element in list
l=[11,12,22,33,55,22,44,11,15,33,99]
l2=[]
for i in l:
    if i not in l2:
        l2.append(i)
    else:
        l3.append(i)
print("duplicate element in list are : ",l3)
print("list is remove duplicate element:", l2)

duplicate element in list are :  [22, 11, 33]
list is remove duplicate element: [11, 12, 22, 33, 55, 44, 15, 99]

In [30]:
#factorial of number that are present in list
l=[1,2,3,4,5,6,7,8,9,10]
j=1
for i in l:
        j=j*i
        print(j)

1
2
6
24
120
720
5040
40320
362880
3628800

In [51]:
#Seperate even index and odd index element
l=[1,2,3,4,5,6,7,8,9,10,11,22,33,44,55]
def even(*l):
    e=[]
    o=[]
    for i in range(len(l)):
        if i %2==0:
            e.append(l[i])
        else:
            o.append(l[i])
    print("Even index element list are :",e)
    print("Odd index :",o)
even(1,2,3,4,5,6,7,8,9,10,11,22,33,44,55)

Even index element list are : [1, 3, 5, 7, 9, 11, 33, 55]
Odd index : [2, 4, 6, 8, 10, 22, 44]

In [1]:
#Prin even number in list
def even(*m):
    for i in m:
        if i%2==0:
            print(i)
even(11,22,33,44,55,66,77,88,30,55,77,22,33)

22
44
66
88
30
22

In [2]:
#usinf lambda and filter
l=[11,22,33,44,55,66,77,88,99,10,12,13,15,]
s=list(filter(lambda x: x%2==0,l))
s

[22, 44, 66, 88, 10, 12]

In [5]:
#print square of every number in list
l=[1,2,3,4,5,6,7,8,9]
s1=list(map(lambda x : x*x ,l))
s1

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
#sum of all element in list using reduce function
from functools import reduce
s2=reduce(lambda x,y:x+y,l)
s2

45

In [12]:
#sum of all element in list 
sum=0
for i in l:
    sum=sum+i
sum

45

In [24]:
#
#find min and max number in list
l1=[11,10,40,555,33,22,20,50,44,88,7]
max1=l1[0]
min1=l1[0]
for i in range(1,len(l1)):
    if max1<l1[i]:
        max1=l1[i]
        position=i
    else:
        min1=l1[i]
        position1=i
print(f"Maximum number is : {max1} in list  at  index position {position}" )
print(f"Manimum number is:  {min1} in list  at  index position {position1}" )

Maximum number is : 555 in list  at  index position 3
Manimum number is:  7 in list  at  index position 10

In [1]:
#sorting element in list without using inbuilt function

list1=[int(i) for i in input("enter the  value").split(',')]
n=len(list1)
for i in range(0,n):
    for j in range(i+1,n):
        if list1[i]>list1[j]:
            temp=list1[i]
            list1[i]=list1[j]
            list1[j]=temp
print(list1)

enter the  value30,20,50,40,10
[10, 20, 30, 40, 50]

In [1]:
# display second smallest and second largest element in list
li=[int(i) for i in input("Enter the number").split(',')]
num=len(li)
for i in range(0,num):
    for j in range(i+1,num):
        if li[i]>li[j]:
            temp=li[i]
            li[i]=li[j]
            li[j]=temp
print(li)
print(f"second smallest element is : {li[1]}")
print(f"second largest element is : {li[-2]}")

Enter the number500,200,600,100,40,300
[40, 100, 200, 300, 500, 600]
second smallest element is : 100
 second largest element is : 500

In [6]:
# Reverse list without slice method using for loop
li=[int(i) for i in input("Enter the number").split(',')]

l2=[]
i=len(li)-1
for j in range(i,-1,-1):
    l2.append(li[j])
print((l2))

Enter the number40,50,60,20,10
[10, 20, 60, 50, 40]

In [5]:
# Reverse list without slice method
li=[int(i) for i in input("Enter the number").split(',')]
l=[]
i=len(li)-1
while i >=0:
    l.append(li[i])
    i-=1
print(l)

Enter the number70,40,80,90
[90, 80, 40, 70]