In [2]:
for  i in range(1,5):
    for j in range(1,i+1):
        print(i,end='')
    print()

1
22
333
4444

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [14]:
n=1
for i in range(1,5):
    for j in range(1,i+1):
        print(n,end=' ')
        n+=1
    
    print()

1
2 3
4 5 6
7 8 9 10

In [15]:
n=10
for i in range(1,5):
    for j in range(1,i+1):
        print(n,end=' ')
        n-=1
    print()

10
9 8
7 6 5
4 3 2 1

In [18]:
n=int(input("enter the number"))
k=1
for i in range(1,5):
    for j in range(1,i+1):
        print(n*k,end=' ')
        k+=1
    print()

enter the number6
6
12 18
24 30 36
42 48 54 60

In [23]:
n=int(input("enter the row"))
a=n-1

for i in range(n):
    for j in range(a):
        print(end=' ')
    a=a-1
    for j in range(i+1):
        print('*',end=' ')
    print()

enter the row6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [28]:
n=int(input ("Enter the row"))
a=n-1
k=1
for i in range(n):
    for j in range(a):
        print(end=' ')
    a=a-1
    for j in range(i+1):
        print(k,end=' ')
        k+=1
    print()

Enter the row5
    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15

In [37]:
n=int(input ("Enter the row"))
a=n-1
k=1
for i in range(4):
    for j in range(a):
        print(end=' ')
    a=a-1
    for j in range(i+1):
        print(n*k,end=' ')
        k+=1
    print()

Enter the row6
     6
    12 18
   24 30 36
  42 48 54 60

In [38]:
for i in range(1,6):
    for j in range(6,i,-1):
        print('*',end='')
    print()

*****
****
***
**
*

In [39]:
n=int(input("Enter the row"))
a=n-1
for i in range(n):
    for j in range(a):
        print(end=' ')
    a=a-1
    for j in range(i+1):
        print('*',end=' ')
    print()

Enter the row5
    *
   * *
  * * *
 * * * *
* * * * *

In [1]:
n=int(input("Enter the row"))
a = (2 * n) - 2
for i in range(n, -1, -1):
    for j in range(a, 0, -1):
        print(end=" ")
         
      
    a = a + 1
    for j in range(0, i+1):
         
        print("* ",end="")
    print()

Enter the row5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *